{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div>
        <h1>Accueil</h1>
        <h2>Créer vos CV dynamique</h2>

        <a href="{{ path('app_categorie_new') }}">Ajouter une compétences</a>
        <a href="{{ path('app_content_new') }}">Ajouter du contenu</a>


        <h3>Compétences</h3>
        {% for categorie in categories %}
            <h2>{{ categorie.title }}</h2>
            {% for content in categorie.contents %}
                {{ dump(content) }}
            {% endfor %}

        {% endfor %}
        <h3>Contenu</h3>

    </div>

{% endblock %}
